$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #FFF1E5;
$gray-500: #abb6c1;
$header-height: 64px;
$white: #FFFFFF;
$black: #000000;

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

